:root {
    --cor-fundo: #fff;
    --cor-fundoMenu: #d3d3d3ea; 
    --cor-fonte: black;
}

* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;

    background: var(--cor-fundo);
    color: var(--cor-fonte);

    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    width: 100vw;
    height: 100vh;

    flex-direction: column;

    transition: background-color 0.5s, color 0.5s;
}

a {
    color: var(--cor-fonte);
    
    transition: color 0.5s;
}

header {
    display: inherit;
    flex-direction: column;

    border: 2px solid;
    padding: 10px;
    margin: 5px;

    flex: 2;
}

header button {
    z-index: -1;
    opacity: 0%;

    font-size: 24px;
}

.menu {
    display: flex;

    justify-content: space-between;

    flex: 1;
}

.menu nav {
    border: 1px solid;
    padding: 0px 10px;

    height: 25px;
}

.menu nav a {
    font-weight: 600;

    margin: 0px 5px;
}

.menu #darkMode label {
    font-size: large;
}

#light {
    margin: 0;
    padding: 0;

    width: 15px;
    height: 15px;
}

.titulo {
    text-align: center;

    flex: 2;

}

main {
    display: flex;

    flex-direction: row;
    margin: 5px;

    flex: 3;
}

.projetos {
    display: flex;

    border: 2px solid;

    flex-direction: column;
    align-items: center;
    justify-content: center;

    flex: 1;
}

.projetos h3 {
    display: flex;

    justify-content: center;
    align-items: center;

    flex: 1;
}

.projetos ul {
    display: flex;

    flex-direction: column;
    justify-content: space-around;

    flex: 3;
}

.experiencias {
    display: flex;

    border: 2px solid;

    flex-direction: column;

    flex: 1;
}

.experiencias h3 {
    display: flex;

    justify-content: center;
    align-items: center;

    flex: 1;
}

.exp-link {
    display: flex;

    flex-direction: column;
    align-items: center;

    flex: 3;
}

.exp-link a {
    flex: 1;
}

.cursos {
    display: flex;

    border: 2px solid;

    flex-direction: column;

    flex: 1;
}

.cursos h3 {
    display: flex;

    justify-content: center;
    align-items: center;

    flex: 1;
}

.cursos ul {
    display: flex;

    justify-content: center;

    flex: 3;
}

li {
    list-style-type: none;

    text-align: center;
}

footer {
    display: flex;

    border: 2px solid;
    margin: 5px;
    gap: 5px;

    justify-content: space-around;

    flex: 0;
}

@media (max-width: 768px) {
    main {
        flex-direction: column;
    }
}

@media (max-width: 577px) {
    header button {
        opacity: 100%;

        z-index: 1;

        width: 50px;
        height: 50px;
    }

    .menu nav {
        background: var(--cor-fundoMenu);
        opacity: 0%;

        text-align: center;
        align-content: center;

        position: fixed;
        right: 0px;
        bottom: 0px;
        padding: 0;
        z-index: -1;

        width: 100vw;
        height: 100vh;
    }

    .menu nav a {
        display: block;
        padding: 20px;
        margin: auto;
    }

    .menu nav a:hover {
        background-color: var(--cor-fundo);
    }
}

@media(max-width: 419px) {
    h1 {
        font-size: x-large;
    }

    h2 {
        font-size: large;
    }
}